// VARIABLES
$e2-color-white: #ffffff;
$e2-color-text: #162854;
$e2-color-text-light: #32394E;
$e2-color-text-accent: #29b6ff;
$e2-color-bg-gray: #e6e6e6;
$e2-color-bg-blue: #182b65;
$e2-color-bg-blue-light: #29b6ff;
$e2-color-bg-body: #edf9ff;
$e2-font-size: 22px;
$e2-font-size-mob: 18px;
$e2-line-height: 140%;

// GENERAL
table.e2-body {
  width: 100%;
  background-color: $e2-color-bg-body;
}
.e2-container {
  max-width: 624px;
  & > tbody > tr > .wrapper-inner {
    padding: 20px 12px;
  }
}
.e2-title {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 44px;
  color: $e2-color-text;
  font-weight: 600;
  span {
    color: $e2-color-text-accent;
  }
}

// HEADER
.e2-header {
  .columns {
    padding-bottom: 0;
  }
}
.e2-header__logo {
  display: block;
  width: 137px;
  height: 36px;
}
.e2-header__btn {
  display: block;
  margin-left: auto;
  padding: 10px 28px;
  font-size: 18px;
  line-height: 30px;
  color: $e2-color-white;
  background-color: $e2-color-bg-blue-light;
  width: max-content;
  border-radius: 60px;
  &:hover,
  &:visited {
    color: $e2-color-white;
  }
}

// PROMO
.e2-promo {
  .wrapper-inner {
    font-size: $e2-font-size;
    line-height: $e2-line-height;
    text-align: center;
    color: $e2-color-text-light;
  }
}
.e2-promo__title {
  margin-bottom: 0;
  font-size: 50px;
  line-height: 110%;
  text-align: center;
  color: $e2-color-text;
}

// SOFTWARE
.e2-software {
  .wrapper-inner {
    padding: 20px;
    font-size: $e2-font-size;
    line-height: $e2-line-height;
    background-color: $e2-color-white;
    border-radius: 24px;
  }
}
.e2-software__img {
  float: left;
  margin: 2px;
  width: 178px;
}
.e2-software__clearfix {
  display: table;
  clear: both;
}

// INFO
.e2-info {
  .wrapper-inner {
    padding: 30px;
    font-size: $e2-font-size;
    line-height: 140%;
    font-weight: 300;
    color: $e2-color-white;
    background-color: $e2-color-bg-blue;
    border-radius: 24px;
  }
  h2 {
    color: inherit;
  }
}
.e2-info__btn {
  display: block;
  padding: 13px;
  font-size: 20px;
  line-height: 170%;
  font-weight: 600;
  text-align: center;
  color: $e2-color-white;
  background-color: $e2-color-bg-blue-light;
  border-radius: 12px;
  &:hover,
  &:visited {
    color: $e2-color-white;
  }
}

// NETWORK
.e2-network {
  h3 {
    font-size: 25px;
    line-height: 115%;
    font-weight: 600;
    margin-bottom: 8px;
  }
}
.e2-network__card {
  .wrapper-inner {
    padding: 20px;
    font-size: $e2-font-size;
    line-height: 130%;
    color: $e2-color-text;
    background-color: $e2-color-white;
    border-radius: 20px;
  }
  &--last {
    .wrapper-inner {
      color: $e2-color-white;
      background-color: $e2-color-bg-blue-light;
    }
  }
}
.e2-network__list {
  margin-top: 9px;
}
.e2-network__tag {
  float: left;
  margin: 2px;
  padding: 0 12px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: $e2-color-white;
  background-color: $e2-color-bg-blue-light;
  border-radius: 32px;
  text-wrap: nowrap;
}
.e2-network__clearfix {
  display: table;
  clear: both;
}

// NOTIFICATIONS
.e2-notifications__card {
  .wrapper-inner {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: $e2-font-size;
    line-height: $e2-line-height;
    color: $e2-color-white;
    background-color: $e2-color-bg-blue;
    border-radius: 40px;
  }
}
.e2-notifications__col {
  padding-bottom: 0 !important;
}

// ACHIEVEMENTS
.e2-achievements {
  .wrapper-inner {
    font-size: $e2-font-size;
    line-height: 27px;
  }
  span {
    color: $e2-color-text-accent;
  }
  .large-6.first {
    padding-left: 0;
  }
  .large-6.last {
    padding-right: 0;
  }
  .columns {
    padding: 6px;
  }
}
.e2-achievements__card {
  .wrapper-inner {
    padding: 32px 3px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $e2-color-white;
    background-color: $e2-color-bg-blue-light;
    border-radius: 24px;
  }
}
.e2-achievements__num {
  font-size: 40px;
  line-height: 100%;
  font-weight: 600;
}

// CONTACT
.e2-contact {
  .wrapper-inner {
    padding: 30px;
    background-color: $e2-color-white;
    border-radius: 30px;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 28px;
    font-weight: 600;
    color: $e2-color-text;
  }
  img {
    display: inline;
    width: 24px !important;
    height: 24px !important;
    margin-right: 12px;
    vertical-align: middle;
  }
}
.e2-contact__link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: $e2-color-text-light;
  &:hover,
  &:visited {
    color: $e2-color-text-light;
  }
}
.e2-contact__btn {
  display: block;
  padding: 17px;
  font-size: $e2-font-size;
  line-height: 170%;
  font-weight: 600;
  text-align: center;
  color: $e2-color-white;
  background-color: $e2-color-bg-blue-light;
  border-radius: 12px;
  &:hover,
  &:visited {
    color: $e2-color-white;
  }
}

// FOOTER
.e2-footer__link {
  font-size: 18px;
  line-height: 23px;
  color: $e2-color-text;
  &:hover,
  &:visited {
    color: $e2-color-text;
  }
}
.e2-footer__btn {
  padding: 7px 24px;
  font-size: 14px;
  line-height: 170%;
  color: $e2-color-text;
  background-color: $e2-color-bg-gray;
  border-radius: 12px;
  &:hover,
  &:visited {
    color: $e2-color-text;
  }
}

// MEDIA MOBILE
@media only screen and (max-width: $global-breakpoint) {
  /* GENERAL */
  .e2-container > tbody > tr > .wrapper-inner {
    padding-top: 34px !important;
    padding-bottom: 34px !important;
  }

  /* HEADER */
  .e2-header__logo {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* PROMO */
  .e2-promo .wrapper-inner {
    font-size: $e2-font-size-mob !important;
    text-align: left !important;
  }
  .e2-promo__title {
    font-size: 40px !important;
    text-align: left !important;
  }

  /* SOFTWARE */
  .e2-software .wrapper-inner {
    font-size: $e2-font-size-mob !important;
  }

  /* INFO */
  .e2-info .wrapper-inner {
    padding: 20px !important;
  }
  .e2-info__btn {
    padding: 15px !important;
    font-size: 24px !important;
  }

  /* NETWORK */
  .e2-network h3 {
    font-size: 20px !important;
  }
  .e2-network__card .wrapper-inner {
    font-size: $e2-font-size-mob !important;
  }

  /* NOTIFICATIONS */
  .e2-notifications__card .wrapper-inner {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: $e2-font-size-mob !important;
  }

  /* ACHIEVEMENTS */
  .e2-achievements .wrapper-inner {
    font-size: $e2-font-size-mob !important;
    line-height: 22px !important;
  }
  .e2-achievements .columns.large-6 {
    padding: 3px 0 !important;
  }
  .e2-achievements__num {
    font-size: 55px !important;
  }

  /* CONTACT */
  .e2-contact .wrapper-inner {
    padding: 20px !important;
  }

  /* FOOTER */
  .e2-footer__btn {
    padding: 13px 60px !important;
  }
}
@media only screen and (max-width: 428px) {
  /* SOFTWARE */
  .e2-software__img {
    width: 150px !important;
  }
}
