// VARIABLES
$rx4m3-color-white: #ffffff;
$rx4m3-color-accent: #e80045;
$rx4m3-color-text: #000080;
$rx4m3-color-bg-body: #e9f0fe;
$rx4m3-color-bg-btn: #000080;
$rx4m3-color-bg-contact: #04017F;

// poppins
// src/layouts/default.html
// rx4m3

// GENERAL
table.rx4m3-body {
  width: 100%;
  color: $rx4m3-color-text;
  background-color: $rx4m3-color-bg-body;
}
.rx4m3-container {
  max-width: 640px;
  & > tbody > tr > .wrapper-inner {
    padding: 30px 20px 30px 20px;
  }
}

// HEADER
.rx4m3-header {
  width: 100%;
  border-collapse: collapse;
}
.rx4m3-header__col {
  vertical-align: middle;
  width: 50%;
  padding: 0;
}
.rx4m3-header__logo {
  display: block;
  width: 165px;
}
.rx4m3-header__btn {
  display: block;
  margin-left: auto;
  width: max-content;
  padding: 12px 30px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  color: $rx4m3-color-white;
  background-color: $rx4m3-color-bg-btn;
  border-radius: 60px;
  box-sizing: border-box;
  &:hover,
  &:visited {
    color: $rx4m3-color-white;
  }
}

// PROMO
.rx4m3-promo {
  .wrapper-inner {
    padding: 24px 40px 0 40px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $rx4m3-color-white;
    background-color: $rx4m3-color-accent;
    border-radius: 40px;
  }
}
.rx4m3-promo__title {
  margin: 0;
  font-size: 35px;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  color: $rx4m3-color-white;
}
.rx4m3-promo__img {
  width: 410px;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
  }
}

// SOFTWARE
.rx4m3-soft {
  .wrapper-inner {
    padding: 16px 20px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $rx4m3-color-text;
  }
}
.rx4m3-soft__title {
  margin: 0;
  font-size: 30px;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  color: $rx4m3-color-text;
  span {
    color: $rx4m3-color-accent;
  }
}
.rx4m3-soft__logo {
  position: relative;
  float: left;
  margin: 1px;
  width: 108px;
  &.premium::before {
    content: "PREMIUM";
    position: absolute;
    top: -7px;
    left: 20px;
    display: block;
    width: max-content;
    padding: 0 11px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: $rx4m3-color-white;
    background-color: $rx4m3-color-accent;
    border-radius: 34px;
  }
}
.rx4m3-soft__clearfix {
  display: table;
  clear: both;
}
.rx4m3-soft__list-item {
  margin-top: 14px;
  font-size: 16px;
  line-height: 120%;
  img {
    display: inline;
  }
}

// PLATFORM
.rx4m3-platform__title {
  margin: 0;
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  color: $rx4m3-color-text;
  span {
    color: $rx4m3-color-accent;
  }
}
.rx4m3-platform__card {
  .wrapper-inner {
    padding: 20px 55px 0 55px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $rx4m3-color-text;
    background-color: $rx4m3-color-white;
    border-radius: 30px;
  }
}
.rx4m3-platform__card-title {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  color: $rx4m3-color-accent;
}
.rx4m3-platform__img {
  display: block;
  margin: 0 auto;
  width: 490px;
}

// CONTACT
.rx4m3-contact {
  .wrapper-inner {
    padding: 30px 20px;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    color: $rx4m3-color-white;
    background-color: $rx4m3-color-bg-contact;
    border-radius: 30px;
  }
}
.rx4m3-contact__title {
  margin: 0;
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  text-align: left;
}
.rx4m3-contact__item {
  display: block;
  margin: 0;
  color: $rx4m3-color-white;
  &:hover,
  &:visited {
    color: $rx4m3-color-white;
  }
}
.rx4m3-contact__btn {
  display: block;
  padding: 15px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  color: $rx4m3-color-white;
  background-color: $rx4m3-color-accent;
  border-radius: 10px;
  &:hover,
  &:visited {
    color: $rx4m3-color-white;
  }
}

// MEDIA MOBILE
@media only screen and (max-width: $global-breakpoint) {
  /* GENERAL */
  .rx4m3-container > tbody > tr > .wrapper-inner {
    padding: 16px 12px !important;
  }
  /* HEADER */
  .rx4m3-header__logo {
    width: 165px !important;
  }
  .rx4m3-header__btn {
    padding: 10px 20px !important;
    font-size: 14px !important;
  }
  /* PROMO */
  .rx4m3-promo .wrapper-inner {
    padding: 24px 18px 0 18px !important;
  }
  .rx4m3-promo__img {
    width: 100% !important;
  }
  /* SOFT */
  .rx4m3-soft .wrapper-inner {
    padding: 20px 0 35px 0 !important;
    font-size: 18px !important;
  }
  .rx4m3-soft__title {
    font-size: 36px !important;
  }
  .rx4m3-soft__logo {
    width: 170px !important;
  }
  .rx4m3-soft__logo.premium::before {
    top: -7px !important;
    left: 44px !important;
    padding: 0 13px !important;
    font-size: 12px !important;
    line-height: 20px !important;
    border-radius: 40px !important;
  }
  .rx4m3-soft__list-item {
    font-size: 18px !important;
  }
  .rx4m3-soft__list-item img {
    width: 14px !important;
    height: 11px !important;
  }
  /* PLATFORM */
  .rx4m3-platform__card .wrapper-inner {
    padding: 20px 14px 0 14px !important;
  }
  /* CONTACT */
  .rx4m3-contact .wrapper-inner {
    padding-bottom: 20px !important;
    font-size: 18px !important;
  }
}
